* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
  background: linear-gradient(to bottom, #009688 15%, #dadbd4 0%);
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  min-width: 950px;
  height: 95vh;
  background-color: orange;
  display: flex;
}

/* Inizio aside */
aside {
  flex-basis: 33%;
  height: 100%;
  background-color: grey;
}

/* aside top */
aside .nome-utente {
  width: 100%;
  height: 70px;
  padding: 0 10px;
  font-weight: 500;
  font-size: .9em;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
}

aside .nome-utente img.foto-profilo {
  height: 55px;
  border-radius: 50%;
}

aside .nome-utente span {
  margin-left: 5px;
  font-size: 1.1em;
}

aside .nome-utente .icone {
  flex-grow: 1;
  color: #b1b1b1;
  text-align: right;
  font-size: 1.3em;
}

aside .nome-utente .icone .fas{
  margin-right: 10px;
  cursor: pointer;
}

/* aside center */
aside .nuove-notifiche {
  width: 100%;
  height: 80px;
  padding: 10px 5px 10px 10px;
  background-color: #8edafc;
  display: flex;
  align-items: center;
}

aside .nuove-notifiche .campanella {
  /* color: #8edafc; */
  flex-basis: 45px;
  height: 45px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8edafc;
  font-size: 1.2em;
}

aside .nuove-notifiche .testo {
  flex-basis: calc(100% - 45px);
  padding-left: 10px;
  font-size: 1em;
}

aside .nuove-notifiche .testo span {
  display: block;
  font-weight: 500;
}

aside .nuove-notifiche .testo small {
  display: inline-block;
  margin-top: 3px;
  font-size: 1em;
  color: #4f7485;
  text-decoration: underline;
}

/* aside bottom */
aside .cerca {
  width: 100%;
  height: calc(100% - 150px);
  background-color: green;
  background-color: #fafafa;
}

aside .cerca .search-input {
  width: 100%;
  height: 40px;
  border: 1px solid white;
  padding: 5px;
  position: relative;
  border-bottom: 1px solid #ededed;
}

aside .cerca .search-input input {
  width: 100%;
  padding: 5px 10px 5px 40px;
  outline: none;
  border: 1px solid #e3e3e3;
  border-radius: 25px;
  color: #767676;
}

aside .cerca .search-input .fas {
  position: absolute;
  top: 19px;
  left: 20px;
  transform: translateY(-50%);
  color: #b6b9bb;
}

aside .cerca .search-contact {
  height: calc(100% - 40px);
  background-color: white;
  overflow-y: auto;
}

aside .cerca .search-contact .contact-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ebebeb;
}

aside .cerca .search-contact .contact-item:hover {
  background-color: #f0f0f0;
}

aside .cerca .search-contact .contact-item img {
  height: 55px;
  border-radius: 50%;
}

aside .cerca .search-contact .contact-item span {
  margin-left: 10px;
}

/* Fine aside */


/* Inizio main */
main {
  flex-basis: 67%;
  height: 100%;
  background-color: red;
}

/* main-top */
main .header-main {
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
  border-left: 1px solid #d6d6d6;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

main .header-main span {
  font-weight: 500;
  font-size: 1em;
}

main .header-main p {
  margin-top: 2px;
  font-size: .9em;
  color: #6b7376;
}

main .header-main img {
  height: 55px;
  border-radius: 50%;
  margin-right: 20px;
}

main .header-main .icone {
  flex-grow: 1;
  color: #b1b1b1;
  text-align: right;
  font-size: 1.4em;
}

main .header-main .icone .fas {
  margin-right: 12px;
  cursor: pointer;
}


/* main-center */
main .testo-messaggi {
  width: 100%;
  height: calc(100% - 140px);
  min-width: 0;
  background-color: white;
  background-image: url('../img/mine.jpg');
  padding: 0px 50px;
  font-size: .9em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

main .testo-messaggi .message {
  width: 70%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  background-color: white;
  color: #303030;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

main .testo-messaggi .message.received {
  align-self: flex-start;
}

main .testo-messaggi .message.sent {
  align-self: flex-end;
  background-color: #dcf8c6;
}

/* main-bottom */
main .input-testo {
  width: 100%;
  height: 70px;
  background-color: #f3eeea;
  padding: 10px 30px;
  display: flex;
  align-items: center;
}

main .input-testo .far,
main .input-testo .fas {
  color: #6b7376;
  font-size: 1.5em;
  cursor: pointer;
}

main .input-testo input {
  flex-grow: 1;
  margin: 0 30px;
  padding: 10px 15px;
  font-size: 1.3em;
  color: #767676;
  outline: none;
  border: 1px solid #d7d7d7;
  border-radius: 25px;
}
