<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boolzap</title>

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap" rel="stylesheet">
  <!-- CDN FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <!-- Link CSS -->
  <link rel="stylesheet" href="css/style.css">

  <!-- CDN Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>




</head>

<body>
  <div class="container" id="app">
    <!-- Inizio sezione sinistra -->
    <aside>

      <!-- Aside top -->
      <div class="nome-utente">
        <img :src="'img/avatar' + mainUser.avatar + '.jpg'" alt="Foto profilo" class="foto-profilo">
        <span>{{ mainUser.nome }}</span>
        <div class="icone">
          <i class="fas fa-circle-notch" title="Stato"></i>
          <i class="fas fa-comment-alt" title="Nuova chat"></i>
          <i class="fas fa-ellipsis-v" title="Menu"></i>
        </div>
      </div>

      <!-- Aside center -->
      <div class="nuove-notifiche">
        <div class="campanella">
          <i class="fas fa-bell-slash"></i>
        </div>
        <div class="testo">
          <span>Ricevi notifiche di nuovi messaggi</span>
          <small>Attiva notifiche desktop</small>
        </div>

      </div>
      <!-- Aside bottom -->
      <div class="cerca">
        <!-- Aside bottom top -->
        <div class="search-input">
          <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchInput" @keyup="searchName">
          <i class="fas fa-search"></i>
        </div>

        <!-- Aside bottom down -->
        <div class="search-contact">

          <!-- Questi due modi di scrivere la condizione all'interno di :class sono equivalenti -->
          <!-- :class="{active:index == userSelected}" -->
          <!-- :class="(index == userSelected) ? 'active' : ''" -->
          <div class="contact-item" v-for="(item, index) in contatti" v-if="item.visible == true" :class="{active:index == userSelected}" @click="changeUser(index)">
            <img :src="'img/avatar' + item.avatar + '.jpg'" :alt="'Foto profilo di ' + item.name" class="foto-profilo">
            <div class="info">
              <span>{{ item.name }}</span>
              <p v-if="item.messages.length > 0">{{ item.messages[item.messages.length - 1].text }}</p>
              <p v-else><i>Nessun messaggio con {{ item.name }}</i></p>
            </div>
          </div>

        </div>
      </div>

    </aside>
    <!-- Fine sezione sinistra -->

    <!-- Inizio main -->
    <main>
      <!-- main top -->
      <div class="header-main">

        <img :src="'img/avatar' + contatti[userSelected].avatar + '.jpg'" alt="Foto profilo" class="foto-profilo">
        <div class="info-accesso">
          <span> {{ contatti[userSelected].name }} </span>
          <p @click="lastAccess">Ultimo accesso alle {{lastAccess()}} </p>
        </div>
        <div class="icone">
          <i class="fas fa-search" title="Cerca"></i>
          <i class="fas fa-paperclip" title="Allega"></i>
          <i class="fas fa-ellipsis-v" title="Menu"></i>
        </div>

      </div>
      <!-- main center (sezione principale) -->
      <div class="testo-messaggi">

            <div v-for="(element, index) in contatti[userSelected].messages" class="message" :class="element.type">
              <p>{{ element.text }}</p>
              <small>{{ element.shortdate }}</small>
              <i class="fas fa-angle-down" :class="{show:index == messaggioSelezionato}" @click="toggleTab(index)">
                <div class="info" :class="{show: index == messaggioSelezionato && isActive}">
                  <ul>
                    <li>Message info</li>
                    <li @click="deleteMessage(index)">Delete message</li>
                  </ul>
                </div>
              </i>
            </div>

      </div>
      <!-- main bottom -->
      <div class="input-testo">
        <i class="far fa-smile"></i>
        <input type="text" placeholder="Scrivi un messaggio" v-model="messageInput" @keyup.enter="sendMessage">
        <i class="fas fa-paper-plane" title="Invia" @click="sendMessage"></i>
        <i class="fas fa-microphone"></i>
      </div>

    </main>

  </div>


  <!-- link a moment.js -->
  <script src="lib/moment/moment.min.js" charset="utf-8"></script>
  <!-- link a JS -->
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
